@forward 'style';

// Variables des couleurs
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

// Variable des polices
$ff-title: Shrikhand, sans-serif;
$ff-text: Roboto, sans-serif;
