@use 'index';
@use 'variables';

body {
  max-width: 375px;
  margin: 0 auto;
}
// Header du site avec son logo
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  background: lightblue;
}

// Sous-header, localisation des restaurants
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: lightseagreen;
}

// CTA proposition des restaurants
.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 226px;
  background: lightgreen;
  &__title {
    font-family: $ff-title;
    text-align: center;
    color: red;
    font-size: 2rem;
  }
  &__subtitle {
    text-align: center;
    color: lightblue;
  }
}

.div1__button {
  border-radius: 25px;
}

.div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 440px;;
  background: lightblue;
}

.div3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 1300px;
  background: lightcoral;
}

.div4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 185px;
  background: lime;
}