@use "./variables" as utils;

.fa-mobile-screen-button,
.fa-list-ul {
    color: #7E7E7E;
}

.fa-store {
    color: utils.$color-primary;
}

.fa-utensils,
.fa-handshake-angle {
    color: white;
    font-size: 13px;
    width: 12px;
}