@use "./variables" as utils;

.fa-mobile-screen-button,
.fa-list-ul {
    color: #7E7E7E;
}

.fa-store {
    color: utils.$color-primary;
}

.fa-heart {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 20px;
}

.fa-utensils,
.fa-handshake-angle {
    color: white;
}