// Couleurs principale de OhMyFood
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Couleur des boutons
$color-button: linear-gradient(0deg, $color-primary -11%, $color-secondary 123%);
$color-button-text: #FFF;

// Couleur des notifications 'Nouveau'
$color-new: #99E2D0;
$color-new-text: #008766;

// Couleurs des differents fond
$color-bg: #F6F6F6;
$color-input-bg: #EAEAEA;
$color-footer-bg: #353535;
