// Variables des couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(193deg, $color-primary -11.44%, $color-secondary 123.93%);
$color-button-text: #FFF;
$color-new: #008766;
$color-bg: #EAEAEA;