.font__home--title {
  font-size: 1.5rem;
  font-weight: 700;
}
.font__home--subtitle {
  font-size: 1.125rem;
  font-weight: 300;
}
.font__home--desc {
  font-size: 1rem;
  font-weight: 500;
}
.font__home--restaurant {
  font-size: 1.125rem;
  font-weight: 700;
}
.font__home--location {
  font-size: 1.063rem;
  font-weight: 300;
}
.font__home--footer {
  font-size: 1.125rem;
  font-weight: 400;
}
.font__home--footer--desc {
  font-size: 1rem;
  font-weight: 500;
}

.font__menu--restaurant {
  font-family: Shrikhand, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}
.font__menu--desc {
  font-size: 1rem;
  font-weight: 300;
}
.font__menu--dishe {
  font-size: 1.125rem;
  font-weight: 500;
}
.font__menu--price {
  font-weight: 700;
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
  font-size: 13px;
  width: 12px;
}

* {
  font-family: Roboto, sans-serif;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
}

a,
a:any-link {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.menuHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 55px;
  height: 63px;
  padding-left: 17px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.menuHeader__link {
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background: #353535;
}
.footer__title {
  color: white;
  font-family: Shrikhand, sans-serif;
}
.footer__subtitle {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__subtitle--icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer a {
  color: white;
}

.restaurant__card {
  position: relative;
  background: white;
  border-radius: 15px;
}
.restaurant__card--img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__card--desc {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
  padding: 12px;
}

.new {
  position: relative;
}
.new::after {
  position: absolute;
  content: "Nouveau";
  top: 15px;
  right: 15px;
  padding: 7px 9px;
  font-size: 14px;
  border-radius: 3px;
  color: #008766;
  background: #99E2D0;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.1, 0.2, 0.5, 1.5);
}
.new:hover.new::after {
  transform: scale(1.25);
}

.button {
  cursor: pointer;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500;
  padding: 13px 18.75px;
  color: #FFF;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  background: #EAEAEA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.location__input {
  border: none;
  outline: none;
  text-align: center;
  width: 150px;
  height: 20px;
  font-size: 16px;
  background: #EAEAEA;
}

.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 20px 35px;
  gap: 18px;
  background: #F6F6F6;
}
.discover__title, .discover__subtitle {
  display: flex;
  flex-wrap: wrap;
}
.discover__button {
  margin: 10px 0;
}

.how-to-use {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 15px;
}
.how-to-use__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.how-to-use__list--item {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 322px;
  height: 72px;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #F6F6F6;
}
.how-to-use__list--number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px;
  width: 24px;
  height: 24px;
  color: white;
  border-radius: 20px;
  background: #9356DC;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.restaurant {
  background: #F6F6F6;
  padding: 66px 20px;
}
.restaurant__title {
  padding-bottom: 20px;
}
.restaurant__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 18px;
}
.restaurant i {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px;
}
.restaurant i::after {
  display: block;
  content: "\f004";
  position: absolute;
  font-weight: 900;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: linear-gradient(180deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant i:hover::after {
  opacity: 1;
}

.menuMain {
  background: #F6F6F6;
}
.menuMain__img {
  height: 275px;
}
.menuMain__menu {
  padding: 0 17px;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -35px;
  margin-top: -25px;
  padding-top: 30px;
  background: #F6F6F6;
}
.menuMain__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
.menuMain__container {
  display: flex;
  flex-direction: column;
  padding: 0 13px;
  gap: 40px;
}
.menuMain__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menuMain__subtitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menuMain__subtitle--underline {
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.menuMain__dishe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}
.menuMain__dishe--desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menuMain__button {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.menuMain__button a {
  border-radius: 25px;
}
.menuMain__button .button {
  width: 185px;
}
.menuMain__label input {
  display: none;
}
.menuMain__label input:checked ~ i {
  color: linear-gradient(180deg, #9356DC -11.44%, #FF79DA 123.93%);
}

/*# sourceMappingURL=style.css.map */
