.font__home--title {
  font-size: 1.5rem;
  font-weight: 700;
}
.font__home--subtitle {
  font-size: 1.125rem;
  font-weight: 300;
}
.font__home--desc {
  font-size: 1rem;
  font-weight: 500;
}
.font__home--restaurant {
  font-size: 1.125rem;
  font-weight: 700;
}
.font__home--location {
  font-size: 1.063rem;
  font-weight: 300;
}
.font__home--footer {
  font-size: 1.125rem;
  font-weight: 400;
}
.font__home--footer--desc {
  font-size: 1rem;
  font-weight: 500;
}

.font__menu--restaurant {
  font-family: Shrikhand, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}
.font__menu--desc {
  font-size: 1rem;
  font-weight: 300;
}
.font__menu--dishe {
  font-size: 1.125rem;
  font-weight: 500;
}
.font__menu--price {
  font-weight: 700;
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
  font-size: 13px;
  width: 12px;
}

* {
  font-family: Roboto, sans-serif;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

a,
a:any-link {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.menuHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.menuHeader__link {
  position: absolute;
  left: 15px;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background: #353535;
}
.footer__title {
  color: white;
  font-family: Shrikhand, sans-serif;
}
.footer__subtitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__subtitle--icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__gap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer a {
  color: white;
}

.restaurant__card {
  position: relative;
  background: white;
  border-radius: 15px;
}
.restaurant__card--img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__card--desc {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
  padding: 12px;
}

.new {
  position: relative;
}
.new::after {
  position: absolute;
  content: "Nouveau";
  top: 15px;
  right: 15px;
  padding: 7px 9px;
  font-size: 14px;
  border-radius: 3px;
  color: #008766;
  background: #99E2D0;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.1, 0.2, 0.5, 1.5);
}
.new:hover.new::after {
  transform: scale(1.25);
}

.button {
  cursor: pointer;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500;
  padding: 13px 18.75px;
  color: #FFF;
  background: linear-gradient(0deg, #9356DC -11%, #FF79DA 123%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.lighten {
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.lighten:hover {
  background: linear-gradient(0deg, #a978e3 -11%, #ffa2e5 123%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  background: #EAEAEA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.location__input {
  border: none;
  outline: none;
  text-align: center;
  width: 150px;
  height: 20px;
  font-size: 16px;
  background: #EAEAEA;
}

.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 15px;
  gap: 18px;
  background: #F6F6F6;
}
.discover__button {
  margin: 10px 0;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.how-to-use {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 15px;
}
.how-to-use__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.how-to-use__list--item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 322px;
  height: 72px;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #F6F6F6;
}
.how-to-use__list--number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px;
  width: 24px;
  height: 24px;
  color: white;
  border-radius: 20px;
  background: #9356DC;
}

.menuMain__subtitle {
  animation: anim ease-out;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 50%;
}

.menuMain__meal {
  animation: animMeal ease-in-out;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 50%;
}

@keyframes anim {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animMeal {
  from {
    transform: translateX(5.5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.restaurant {
  background: #F6F6F6;
  padding: 66px 20px;
}
.restaurant__title {
  padding-bottom: 20px;
}
.restaurant__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 18px;
}
.restaurant i {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px;
}
.restaurant i::after {
  display: block;
  content: "\f004";
  position: absolute;
  font-weight: 900;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: linear-gradient(180deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant i:hover::after {
  opacity: 1;
}

.menuMain__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.menuMain__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
  padding: 40px 15px;
  border-radius: 40px 40px 0 0;
  background: #F6F6F6;
}
.menuMain__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menuMain__card:hover .menuMain__subtitle--underline {
  width: 100%;
}
.menuMain__subtitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menuMain__subtitle--underline {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  transition: width 0.3s ease-in-out;
}
.menuMain__dishe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 15px;
  transition: width 0.25s cubic-bezier(0.2, 0.5, 0.3, 1);
}
.menuMain__dishe--desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menuMain__button {
  display: flex;
  justify-content: center;
}
.menuMain__button a {
  border-radius: 25px;
}
.menuMain__button .button {
  width: 185px;
}
.menuMain__meal {
  position: relative;
  overflow: hidden;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.menuMain__meal:hover {
  background: #e8f9f5;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.menuMain__meal input:checked ~ .checked {
  transform: translateX(-60px);
}
.menuMain__meal input:checked ~ .menuMain__dishe {
  width: calc(100% - 60px);
}
.menuMain__meal .checked {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
  height: 100%;
  background: #99E2D0;
  transform: translateX(0px);
  transition: transform 0.5s cubic-bezier(0.2, 0.5, 0.3, 1);
}
.menuMain__meal .checked .fas {
  color: #fff;
  font-size: 1.25rem;
}
.menuMain__label {
  cursor: pointer;
}
.menuMain__label input {
  display: none;
}
.menuMain__label .favorite {
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  background: linear-gradient(180deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.menuMain__label input:checked ~ .favorite {
  opacity: 1;
}

@media (width > 425px) {
  .header,
  .menuHeader {
    height: 93px;
  }
  .discover__title {
    font-size: 2.5rem;
  }
  .how-to-use {
    align-self: center;
    width: 80%;
  }
  .how-to-use__list {
    flex-direction: row;
    justify-content: start;
    padding-left: 12px;
    gap: 25px;
  }
  .restaurant {
    align-self: center;
    width: 80%;
  }
  .restaurant__bg {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
  }
  .restaurant__container {
    gap: 50px 100px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .footer {
    flex-direction: row-reverse;
    align-items: end;
    gap: 100px;
    height: 115px;
    padding: 30px 65px;
  }
  .footer__subtitle {
    flex-direction: row;
    gap: 50px;
  }
  .footer__gap {
    flex-direction: row;
    gap: 15px;
  }
  .menuMain {
    display: flex;
    flex-direction: column;
  }
  .menuMain__title {
    justify-content: center;
  }
  .menuMain__container {
    align-self: center;
    width: 75%;
  }
  .menuMain__card {
    align-self: center;
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
