.menuMain__subtitle {
  animation: anim ease-out;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 50%;
}
.menuMain__meal {
    animation: animMeal ease-in-out;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}

@keyframes anim {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animMeal {
    from {
        transform: translateX(5.5rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
