@use '../utils/variables' as utils;

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
    gap: 18px;
    background: utils.$color-bg;

    &__button {
        margin: 10px 0;
    }
}