@use "../utils/variables" as utils;

.how-to-use {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 15px;
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &--item {
            display: flex;
            justify-content: start;
            align-items: center;
            min-width: 322px;
            height: 72px;
            gap: 20px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            background: utils.$color-bg;
        }
        &--number {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -12px;
            width: 24px;
            height: 24px;
            color: white;
            border-radius: 20px;
            background: utils.$color-primary;
        }
    }
}