// TODO: Animation menu quand on arrive sur la page
// TODO: Loader sur homepage
  // * pendant 1s à 3s et utiliser les animations CSS
// TODO: Validation W3C en HTML et CSS
// ? Ajouts de Commentaire au code
// * Clean fichier scss


* {
  font-family: Roboto, sans-serif;
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

a,
a:any-link {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
