* {
  font-family: Roboto, sans-serif;
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    min-width: 0; // EXPERIMENTAL?
    box-sizing: border-box;
  }
}

html {
  font-size: 100%;
}

body {
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
