@use "../utils/index" as *;

.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 25px;
    background: $color-footer-bg;
    &__title {
        color: white;
        font-family: $ff-title;
    }
    &__subtitle {
        display: flex;
        flex-direction: column;
        gap: 7px;
        &--icon {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
    a {
        color: white;
    }
    
}
