// Header du site avec son logo
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; // Pour afficher l'ombre d'en dessous
  z-index: 1;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

// Header des differents restaurant du site
.menuHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  &__link {
    position: absolute;
    left: 15px;
    font-size: 1.5rem;
  }

}