@use "../utils/index" as *;

$tablet: 425.1px;
$desktop: 768.1px;
@media (max-width: 425px) {
  * {
    background: #ff7373;
  }
}

@media (min-width: $tablet) {
  // COMMENT FAIRE UNE GRID AVEC REPEAT(AUTOFIT, MINMAX) ???

  .header,
  .menuHeader {
    height: 93px;
  }

  .discover {

    &__title {
      font-size: 2.5rem;
    }
  }

  .how-to-use {
    align-self: center;
    width: 80%;

    &__list {
      flex-direction: row;
      gap: 25px;
    }
  }

  .restaurant {
    align-self: center;
    width: 75%;

    &__bg {
      display: flex;
      flex-direction: column;
      background: $color-bg;
    }

    &__container {
      display: grid;
      grid-template-columns: auto auto;
      gap: 50px 100px;
    }
  }

  .footer {
    flex-direction: row-reverse;
    align-items: end;
    gap: 100px;
    height: 115px;
    padding: 30px 65px;

    &__subtitle {
      flex-direction: row;
      gap: 50px;
    }

    &__gap {
      flex-direction: row;
      gap: 15px;
    }
  }

  .menuMain {
    display: flex;
    flex-direction: column;

    &__title {
      justify-content: center;
    }

    &__container {
      align-self: center;
      width: 75%;
    }

    &__card {
      align-self: center;
      width: 60%;
    }
  }
}
