@use "../utils/index" as *;

$tablet: 768px;

@media ( width > $tablet) {
  .header,
  .menuHeader {
    height: 93px;
  }

  .discover {

    &__title {
      font-size: 2.5rem;
    }
  }

  .how-to-use {
    align-self: center;
    width: 80%;

    &__list {
      flex-direction: row;
      justify-content: start;
      padding-left: 12px;
      gap: 25px;
    }
  }

  .restaurant {
    align-self: center;
    width: 80%;

    &__bg {
      display: flex;
      flex-direction: column;
      background: $color-bg;
    }

    &__container {
      gap: 50px 100px;
      grid-template-columns: repeat(auto-fit, minmax(400px ,1fr));
    }
  }

  .footer {
    flex-direction: row-reverse;
    align-items: end;
    gap: 100px;
    height: 115px;
    padding: 30px 65px;

    &__subtitle {
      flex-direction: row;
      gap: 50px;
    }

    &__gap {
      flex-direction: row;
      gap: 15px;
    }
  }

  .menuMain {
    display: flex;
    flex-direction: column;

    &__img {
      max-height: 385px;

      &--gap {
        height: 360px;
      }
    }

    &__title {
      justify-content: center;
    }

    &__container {
      align-self: center;
      width: 75%;
    }

    &__card {
      align-self: center;
      width: 60%;
    }
  }
}
