@use "../utils/variables" as utils;

.restaurant {
    background: utils.$color-bg;
    padding: 66px 20px;
}

.restaurant__title {
    padding-bottom: 20px;
}

.restaurant__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 18px;
}