@use "../utils/variables" as utils;
@use "../components/index" as comp;

.restaurant {
  background: utils.$color-bg;
  padding: 66px 20px;

  &__title {
    padding-bottom: 20px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 18px;
  }

  i {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 20px;

    &::after {
      display: block;
      content: "\f004";
      position: absolute;
      font-weight: 900;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      background: linear-gradient(
        180deg,
        utils.$color-primary -11.44%,
        utils.$color-secondary 123.93%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

.menuMain {
  &__img {
    position: absolute;
    width: 100%;
    max-height: 275px;
    z-index: -1;

    &--gap {
      height: 255px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 15px;
    border-radius: 40px 40px 0 0;
    background: utils.$color-bg;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &:hover {
      .menuMain__subtitle--underline {
        width: 100%;
      }
    }
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--underline {
      width: 40px;
      height: 3px;
      background: utils.$color-tertiary;
      transition: width 0.3s ease-in-out;
    }
  }

  &__dishe {
    display: flex;
    padding: 15px;
    width: 100%;
    transition: width 0.25s cubic-bezier(0.2, 0.5, 0.3, 1);

    &--desc {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: calc(100% - 30px);
    }

    &--price {
      display: flex;
      justify-content: end;
      align-items: end;
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    a {
      border-radius: 25px;
    }

    .button {
      width: 185px;
    }
  }

  &__meal {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out,
      transform 0.5s ease-in-out;

    &:hover {
      background: lighten(utils.$color-tertiary, 20);
      box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2),
        inset 0 0 0 1px utils.$color-tertiary;

      & .checked {
        transform: translateX(-60px);
      }

      & .menuMain__dishe {
        width: calc(100% - 60px); // Decalage du prix quand .checked apparait
      }
    }

    .checked {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: -60px;
      width: 60px;
      height: 100%;
      color: white;
      font-size: 1.25rem;
      background: utils.$color-tertiary;
      transition: transform 0.5s ease-in-out;
    }
  }

  &__label {
    & input {
      display: none;

      &:checked ~ .favorite {
        opacity: 1;
      }
    }

    & .favorite {
      opacity: 0;
      transition: opacity 1.2s ease-in-out;
      background: linear-gradient(
        180deg,
        utils.$color-primary -11.44%,
        utils.$color-secondary 123.93%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }
}
